.decklist {
  text-align: center;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

#user-list {
  height: 800px;
  width: 80%;
  margin: auto;
}

#match-button {
  height: 80px;
  width: 150px;
  margin: auto;
}

.T1Matches {
  color: red;
}

.T2Matches {
  color: orange;
}

.T3Matches {
  color: yellow;
}

.edited {
  color: dodgerblue;
}
